<!-- Extend from the template base.html -->
{% extends "base.html" %} {% block title %}Frequent Questions{% endblock %}
  {% block content %} <!-- This way, the content is center as we defined in base.html -->

  </br>
  <h2 align="center">Frequent Questions</h2>
  </br>
  </br>
  <div style="background-color: #f0f0f0; border: 1px solid #ccc; padding: 10px; border-radius: 10px; font-size:17px;">
      <details>
      <summary style="font-weight: bold;">1. What is The Green Garden and what is its mission?</summary>
      </br><p style="margin-left: 20px;">The Green Garden is a community garden that grows fresh vegetables and fruits without the use of any fertilizers or chemicals that could affect the health of the consumers. Its mission is to provide access to healthy, organic, and cheaper products to members of the community.</p>
    </details>
    </br>
    <details>
      <summary style="font-weight: bold;">2. Where is The Green Garden located and what are its hours of operation?</summary>
      </br><p style="margin-left: 20px;">The location and hours of operation of The Green Garden may vary depending on where it is located. You can contact us or check the General Information on the website for more information.</p>
    </details>
    </br>
    <details>
      <summary style="font-weight: bold;">3. How can I get involved with The Green Garden?</summary>
      </br><p style="margin-left: 20px;">There are a few ways to get involved with The Green Garden. The methods are volunteering, donating, or becoming a member. There is a monthly membership you can subscribe to have advantages over the products in the garden. For donations, you have the option to pay extra for the products you take. You can check the Volunteers section or contact us to get more information.</p>
    </details>
    </br>
    <details>
      <summary style="font-weight: bold;">4. Can anyone come and pick vegetables and fruits from The Green Garden?</summary>
      </br><p style="margin-left: 20px;">For the moment, the garden has been specially developed for students, so you must prove that you are currently a student previously</p>
    </details>
    </br>
    <details>
      <summary style="font-weight: bold;">5. How are the vegetables and fruits at The Green Garden grown without the use of chemicals?</summary>
      </br><p style="margin-left: 20px;">The vegetables and fruits are grown using organic and sustainable methods. The garden may also use natural pest control methods, like using homemade remedies.</p>
    </details>
    </br>
    <details>
      <summary style="font-weight: bold;">6. What types of vegetables and fruits are grown at The Green Garden?</summary>
      </br><p style="margin-left: 20px;">The types of vegetables and fruits grown in the garden may vary depending on the season. Typically, a variety of products are grown, including tomatoes, cucumbers, peppers, pears, carrots, lettuce, strawberries, and more.</p>
    </details>
    </br>
    <details>
      <summary style="font-weight: bold;">7. Are the vegetables and fruits at The Green Garden organic?</summary>
      </br><p style="margin-left: 20px;">Yes, vegetables and fruits are organic, meaning they are grown without the use of synthetic fertilizers, pesticides, or other harmful chemicals.</p>
    </details>
    </br>
    <details>
      <summary style="font-weight: bold;">8. How do I know what's currently available at The Green Garden?</summary>
      </br><p style="margin-left: 20px;">On the app, you can access a lot of information about the vegetables in the Shopping Cart section. When you select a product, you will find the availability of each one, indicating whether it's in the garden or not and if you can pick it up or if it's in the growing process yet. On the website, there's also a section indicating information about the vegetables and other products.</p>
    </details>
    </br>
    <details>
      <summary style="font-weight: bold;">9. How does The Green Garden benefit the local community?</summary>
      </br><p style="margin-left: 20px;">The Green Garden benefits the local community in many ways, including providing access to healthy and organic products, promoting sustainable and environmentally-friendly practices, and fostering a sense of community and connection among its members.
      </p>
    </details>
    </br>
    <details>
      <summary style="font-weight: bold;">10. How does The Green Garden ensure the safety and quality of its produce?</summary>
      </br><p style="margin-left: 20px;">The Green Garden ensures the safety and quality of its produce by adhering to strict standards and practices that are designed to prevent contamination and ensure that the produce is healthy and safe to eat. This may include regular testing of the soil and water used in the garden, implementing measures to prevent pests and diseases, and maintaining cleanliness and hygiene in all aspects of the garden. We will also follow local and national guidelines for food safety and quality, and undergo regular inspections to ensure compliance with these regulations. Additionally, The Green Garden may have its own quality control measures in place, such as only harvesting products that are at its peak ripeness and quality, and ensuring that they are properly stored to maintain its freshness and flavor. Overall, The Green Garden takes great care to ensure that its produce is of the highest quality and safe for its members to enjoy.</p>
    </details>
  </div>
  </br></br>
  

  {% endblock %}
  