<!-- Extend from the template base.html -->
{% extends "base.html" %} {% block title %}General Information{% endblock %}
  {% block content %} <!-- This way, the content is center as we defined in base.html -->
  
  <style type="text/css">
      #columns {
        columns: 1000px;
      }

      #left_col {
        float:left;
        width:300px;
      }
      #right_col {
        float:right;
        width:700px;
      }
    </style>

  </br>
  <h2 align="center">General Info</h2>
  </br>
  </br>
  
  <div id="columns">
      <div id="left_col">
        <img src="images/GreenGarden.png" alt="The logo of the garden"
        width="300" height="150">
        <br></br>
        <h3>Here goes the AI prototype</h3>
        <br></br>
        <p>
          Here goes some contact information Here goes some contact information Here goes some contact information Here goes some contact information Here goes some contact information Here goes some contact information Here goes some contact information Here goes some contact information Here goes some contact information Here goes some contact information Here goes some contact information Here goes some contact information Here goes some contact information Here goes some contact information Here goes some contact information 
        </p>
      </div>
      <div id="right_col" margin= 1em>
       <h4 align="center"> Background </h4>
        <p>Over the last few years, the trend of consuming organic and ecological food products have become
        more popular, which means that the demand for these products has risen and they are becoming
        more and more available. This is because consumers are increasingly looking for a natural diet
        (free from artificial colours, preservatives, and other additives) and foods free from plastic
        packaging and environmental pollutants. In addition, people who follow vegetarian or vegan diets
        tend to be the main promoters of this type of movement and the principal consumers of organic
        products.
        On the other hand, even though young people and students are the ones who tend to take up this
        type of consumption more often, they still have food and economic problems at present. On top of
        that, the coronavirus and the management of this crisis have had a huge psychological impact on
        youth confined during their studies, especially in France. Regarding food, 48% of French students
        say they have skipped a meal, 16% of which for financial reasons. The National Observatory of
        Student Life (OVE) reveals that the health crisis caused by the coronavirus has had significant
        effects on students' living conditions and new inequalities have appeared among them. Despite
        one of the government's attempts to help students with the meal at 1€ for all students, this reform
        has been stopped.
        But this is not the only problem: France now has realised the consequences of the war between
        Russia and Ukraine, having an influence on the price of cereals and fuels. The average French
        food basket increased by 16.3% between January 2022 and January 2023 and, according to a
        study, 56% of students do not have enough to eat.
        This topic has been chosen because students feel concerned by this problem but also because
        everyone without exception deserves to eat. It can also be asked how people can build a stable
        future if the foundations (the young people) and the workers of tomorrow are not stable
        themselves. Helping students will therefore have many positive effects on the health of the future of
        the population, on its economy, and the development of the country.
        Therefore, it has been decided to focus the problem on France, more particularly in the city of
        Montpellier, because it is one of the countries most affected by the health crisis and it seems a
        good supporter of establishing new movements to solve this kind of conflict.</p>
        </br>
        <h4 align="center"> Purpose </h4>
        <p>This project's purpose is to design and develop a common urban garden. In it, different types of
          fruit and vegetables are grown organically and ecologically, without the use of herbicides,
          fertilisers, or phytosanitary products obtained through chemical synthesis. The products obtained in
          the garden are sold at an affordable price, designed for people with economic problems and who
          are looking to improve their food quality, e.g. for current students. It also features technological
          innovations such as an app, a website, and a quick and easy payment process via image
          recognition to be more attractive and modern.
          This solution allows addressing the problem of the food and economic crisis together for part of the
          population. It promotes the sale of healthy and natural food by offering it at a low price, with an
          ecological and environmentally beneficial purpose
        </p>
      </br></br>
      </div>
  </div>  

  {% endblock %}
  