<!-- Extend from the template base.html -->
{% extends "base.html" %} {% block title %}General Information{% endblock %}
  {% block content %} <!-- This way, the content is center as we defined in base.html -->
  
  <style>
      #columns {
        columns: 1000px;
      }

      #left_col {
        float:left;
        width:300px;
      }
      #right_col {
        float:right;
        width:700px;
      }
    </style>

  </br>
  <h2 align="center">General Information</h2>
  </br>
  </br>
  
  <div id="columns">
      <div id="left_col">
        <img src="/static/GreenGarden.png" alt="The logo of the garden"
        width="300" height="211">
        <br></br>
        <img src="/static/GreenGarden3Dprototype.jpg" alt="The 3D prototype of the garden"
        width="300" height="171">
        <br></br>

        <div style="background-color: #f0f0f0; border: 1px solid #ccc; padding: 20px; font-size:16px">
          <h4>Contact Information</h4></br>
          <div style="line-height:8px">
            <p style="font-weight:bold;">You can contact us on:</p>
            <p>Instagram: @TheGreenGarden</p>
            <p>Twitter: @TheGreenGarden</p>
            <p>TikTok: @TheGreenGarden</p>
            <p>Email: TheGreenGarden@gmail.com</p>
          </div>
        </div>
      </div>

      <div id="right_col" margin= 1em>
        <div style="background-color: #f0f0f0; border: 1px solid #ccc; padding: 20px; font-size:20px">
          <h4 align="center"> Why is this project necessary? </h4>
          </br>
          <p>
            Over the past few years, the popularity of organic and eco-friendly food products has increased,
            resulting in a higher demand and wideravailability of such products. This shift in consumer preferences
            can be attributed to a growing interest in natural diets that are free from artificial colors,
            preservatives, additives, and packaging that can harm the environment. Vegetarian and vegan diets have
            also played a significant role in promoting this movement and driving the consumption of organic products.
            
            However, despite the growing trend, young people and students, who are often the main consumers of such
            products, still face food and economic challenges. According to the National Observatory of Student Life
            (OVE), the COVID-19 pandemic has exacerbated these issues, leading to new inequalities among students. A
            study found that the average French food basket has increased by 16.3% between January 2022 and January
            2023,with 56% of students reportedly experiencing food insecurity.</p>
        </div>
        </br>
        
        <div style="background-color: #f0f0f0; border: 1px solid #ccc; padding: 20px; font-size:20px">
          <h4 align="center"> Our purpose </h4>
          </br>
          <p>Our project aims to create a communal urban garden where a variety of fruits and vegetables are grown
            using organic and ecological methods, without the use of chemical herbicides, fertilizers, or pesticides.
            The produce from the garden is sold at an affordable price, catering to those with economic difficulties
            who are looking to improve their food quality, including students. The project also incorporates
            cutting-edge technology, including a mobile app, website, and image recognition payment system to make it
            more appealing and modern. This innovative solution approaches the food and economic crisis by promoting
            the sale of healthy and natural food at a low cost also being environmentally beneficial.</p>
        </div>
    </br></br>
    </div>
  </div>  

  {% endblock %}