<!-- Extend from the template base.html -->
{% extends "base.html" %} {% block title %}Partnerships{% endblock %}
  {% block content %} <!-- This way, the content is center as we defined in base.html -->
  
  <style type="text/css">
    #list {
      background-color:#EAF5EB;
    }
  </style>

  </br>
  <h2 align="center">Partnerships</h2>
  </br>
  </br>
  <div id="list">
    <hr>
    <p style="margin:1em 2em">Too Good To Go</p>
    <hr>
    <p style="margin:1em 2em">Company 1</p>
    <hr>
    <p style="margin:1em 2em">Company 2</p>
    <hr>
    <p style="margin:1em 2em">Company 3</p>
    <hr>
  </div>
  {% endblock %}
  